---
import { FavoriteRoadmaps } from './FavoriteRoadmaps';
---

<div
  class='min-h-auto relative min-h-[192px] border-b border-b-[#1e293c] sm:min-h-[281px]'
>
  <div
    class='container px-5 py-6 pb-14 text-left transition-opacity duration-300 sm:px-0 sm:py-20 sm:text-center'
    id='hero-text'
  >
    <p class='-mt-4 sm:-mt-10 mb-4 text-gray-300'>
      <a href='/teams' class="hover:text-white">
        <span
          class='mr-1 rounded-sm border-black bg-white px-1 py-0.5 text-center text-xs font-semibold uppercase text-black group-hover:bg-white'
          >New</span
        >
        <span class="hidden sm:inline ml-1">Announcing roadmaps for teams.</span>
        <span class="inline-block sm:hidden ml-1">Roadmaps for teams.</span>
      </a>
    </p>

    <h1
      class='mb-2 bg-gradient-to-b from-amber-50 to-purple-500 bg-clip-text text-2xl font-bold text-transparent sm:mb-4 sm:text-5xl'
    >
      Developer Roadmaps
    </h1>

    <p class='hidden px-4 text-lg text-gray-400 sm:block'>
      <span class='font-medium text-gray-400'>roadmap.sh</span> is a community effort
      to create roadmaps, guides and other educational content to help guide developers
      in picking up a path and guide their learnings.
    </p>

    <p class='text-md block px-0 text-gray-400 sm:hidden'>
      Community created roadmaps, guides and articles to help developers grow in
      their career.
    </p>
  </div>
  <FavoriteRoadmaps client:only='react' />
</div>
