---
import "./Prism.css";
---

<div class="bg-gray-50 py-4 sm:py-10">
  <div class="container prose prose-headings:mt-4 prose-headings:mb-2 prose-p:mb-0.5 prose-ul:mt-0">
    <slot />
  </div>
</div>
