svg text tspan {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
}

svg > g[data-type='topic'],
svg > g[data-type='subtopic'],
svg g[data-type='link-item'],
svg > g[data-type='button'],
svg > g[data-type='resourceButton'],
svg > g[data-type='todo-checkbox'],
svg > g[data-type='todo'],
svg > g[data-type='checklist'] > g[data-type='checklist-item'] > rect {
  cursor: pointer;
}

svg > g[data-type='topic']:hover > rect {
  fill: var(--hover-color);
}

svg > g[data-type='subtopic']:hover > rect {
  fill: var(--hover-color);
}
svg g[data-type='button']:hover,
svg g[data-type='link-item']:hover,
svg g[data-type='resourceButton']:hover,
svg g[data-type='todo-checkbox']:hover {
  opacity: 0.8;
}

svg g[data-type='checklist'] > g[data-type='checklist-item'] > rect:hover {
  fill: #cbcbcb !important;
}

svg .done rect {
  fill: #cbcbcb !important;
}

svg .done text,
svg .skipped text {
  text-decoration: line-through;
}

svg > g[data-type='topic'].learning > rect + text,
svg > g[data-type='topic'].done > rect + text {
  fill: black;
}

svg .done text[fill='#ffffff'] {
  fill: black;
}

svg > g[data-type='subtipic'].done > rect + text,
svg > g[data-type='subtipic'].learning > rect + text {
  fill: #cbcbcb;
}

svg .learning rect {
  fill: #dad1fd !important;
}
svg .learning text {
  text-decoration: underline;
}

svg .skipped rect {
  fill: #496b69 !important;
}
