---
import { GetAICourse } from '../../components/GenerateCourse/GetAICourse';
import SkeletonLayout from '../../layouts/SkeletonLayout.astro';
import { CheckSubscriptionVerification } from '../../components/Billing/CheckSubscriptionVerification';

export const prerender = false;

interface Params extends Record<string, string | undefined> {
  courseSlug: string;
}

const { courseSlug } = Astro.params as Params;
---

<SkeletonLayout
  title='AI Tutor'
  briefTitle='AI Tutor'
  description='AI Tutor'
  keywords={['ai', 'tutor', 'education', 'learning']}
  canonicalUrl={`/ai/${courseSlug}`}
  noIndex={true}
>
  <div slot='course-announcement'></div>
  <GetAICourse client:load courseSlug={courseSlug} />
  <CheckSubscriptionVerification client:load />
</SkeletonLayout>
