{
  "extends": [
    "next",
    "next/core-web-vitals",
    "prettier"
  ],
  "rules": {
    "@next/next/no-img-element": [
      "off"
    ],
    "react/display-name": [
      "off"
    ],
    "react/jsx-no-target-blank": [
      "off"
    ]
  }
}
