---
import Answer from '../../components/FAQs/Answer.astro';
import FAQs from '../../components/FAQs/FAQs.astro';
import Question from '../../components/FAQs/Question.astro';
---

<FAQs>
  <Question isActive question='What is Frontend Development?'>
    <Answer>
      <p class='mb-3'>
        Front-end development is the devleopment of visual and interactive elements of a website that users interact
        with directly. It's a combination of HTML, CSS and JavaScript, where HTML provides the structure, CSS the
        styling and layout, and JavaScript the dynamic behaviour and interactivity.
      </p>
      <p>
        As a front-end developer, you'll be responsible for creating the user interface of a website, to ensure it looks
        good and is easy to use, with great focus on design principles and user experience. You'll be working closely
        with designers, back-end developers, and project managers to make sure the final product meets the client's
        needs and provides the best possible experience for the end-users.
      </p>
    </Answer>
  </Question>
  <Question question='What are the job titles of a Frontend Developer?'>
    <Answer>
      <p class='mb-3'>
        Front-end developers are also known as front-end engineers, front-end web developers, JavaScript Developers,
        HTML/CSS Developer, front-end web designers, and front-end web architects.
      </p>
      <p>
        Each of these roles mostly encompass the same front-end development skills but require different levels of
        expertise in different front-end development skills. It's better to look at the job description to get an idea
        about the job requirements.
      </p>
    </Answer>
  </Question>
  <Question question='How to become a Frontend Developer?'>
    <Answer>
      <p>
        Start with learning HTML and CSS; don't wait to fully master these and start building simple projects as soon as
        possible. You could try rebuilding the frontend of your favorite websites using HTML and CSS to start with. Do
        as many of these projects as possible as you keep learning. Once you are somewhat comfortable with HTML and CSS,
        start learning some basic JavaScript (DOM manipulation, making AJAX calls etc) and learn how to add
        interactivity to your websites. While you are at it learn some basics of Git and GitHub. At this point you
        should be able to get an entry level frontend development job. Keep revisiting this roadmap and try to fill the
        gaps in your knowledge.
      </p>
    </Answer>
  </Question>
  <Question question='How long does it take to become a Frontend Developer?'>
    <Answer>
      <p class='mb-3'>
        The amount of time it takes to become a frontend developer can vary depending on several factors, such as your
        learning pace, previous experience and the amount of time you are able to dedicate to learning.
      </p>
      <p class='mb-3'>
        However, to give you a rough idea, if you are a complete beginner, it could take you anywhere from 3 to 6 months
        to get a job as an entry level frontend developer. If you are already familiar with some of the frontend
        technologies, it could take you anywhere from 1 to 3 months. What's important is to practice as much you can
        while you are learning i.e. by building as many projects as you can. You should also participate in online
        communities and ask for feedback from more experienced developers to accelerate your learning process.
      </p>
    </Answer>
  </Question>
  <Question question='What are the Frontend Developer salaries?'>
    <Answer>
      <p class='mb-3'>
        Frontend developer salaries can vary depending on factors such as location, experience, and company size.
        According to data from Glassdoor, the average base salary for a frontend developer in the United States is
        around $80,000 per year. However, this number can vary greatly depending on location, with the highest-paying
        cities such as San Francisco, Seattle, and New York having an average salary of $110,000 to $130,000.
      </p>

      <p class='mb-3'>
        It's important to keep in mind that these are just averages, and salaries can vary greatly depending on factors
        such as experience level, specific skills, and the company you work for. With more experience and specific
        skills you can expect to earn more.
      </p>

      <p>
        It is worth looking at a range of resources, including salary surveys, and job boards to get a general
        understanding of the current market in your location and experience level. Also try reaching out to other
        professionals in the field and getting an understanding of their own experience and salary ranges.
      </p>
    </Answer>
  </Question>
  <Question question='Should I learn everything listed on the Frontend Roadmap?'>
    <Answer>
      <p class='mb-3'>
        This roadmap contains everything that you might encounter while working as a Frontend Developer. You may not
        need everything listed on this roadmap to get into the industry; every job is different and most of the jobs
        will require a subset of the items on the roadmap. However, knowing what you don't know is as important as
        knowing things, so you can use this roadmap to get an idea of what you are missing as well.
      </p>
      <p>
        If you are a beginner who is just getting started, don't feel overwhelmed by looking at this roadmap. Look at
        the answer to the FAQ "How to become a Frontend Developer?"
      </p>
    </Answer>
  </Question>
</FAQs>
