---
---

<script src='./captcha.js'></script>

<script
  src='https://www.google.com/recaptcha/api.js?onload=onCaptchaLoad&render=explicit'
  async
  defer
></script>

<!-- Captcha form start -->
<div class='recaptcha-field mb-2'></div>
<input type='hidden' name='g-recaptcha-response' class='recaptcha-response' />
<!-- Catpcha form end -->
