---
import { getAllBestPracticeTopicFiles } from '../../../lib/best-practice-topic';

const { topicId, bestPracticeId } = Astro.params;
if (!topicId) {
  return new Response();
}

const topicSlug = `/${bestPracticeId}/${topicId}`;
const topicPathMapping = await getAllBestPracticeTopicFiles();

const topicDetails = topicPathMapping[topicSlug];
const { file } = topicDetails;

const fileWithoutBasePath = file.file?.replace(/.+?\/src\/data/, '/src/data');
const gitHubUrl = `https://github.com/kamranahmedse/developer-roadmap/tree/master${fileWithoutBasePath}`;
---

<div data-github-url={gitHubUrl}></div>

<file.Content />
