---
import GuideListItem from '../../components/GuideListItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllGuides } from '../../lib/guide';
import { getAllQuestionGroups } from '../../lib/question-group';

const guides = await getAllGuides();
const questionGuides = (await getAllQuestionGroups()).filter(
  (questionGroup) => questionGroup.data.authorId,
);

const allGuides = [...guides, ...questionGuides];
const sortedGuides = allGuides.sort((a, b) => {
  const aDate = new Date(a.data.date!);
  const bDate = new Date(b.data.date!);

  return bDate.getTime() - aDate.getTime();
});
---

<BaseLayout
  title='Guides - roadmap.sh'
  description={'Detailed guides on Software Engineering Topics'}
  permalink={`/guides`}
>
  <SimplePageHeader
    title='Guides'
    description='Succinct graphical explanations to engineering topics.'
  />

  <div class='bg-gray-50 pb-20 pt-2'>
    <div class='container'>
      <div class='mt-3 sm:my-5'>
        {sortedGuides.map((guide) => <GuideListItem guide={guide} />)}
      </div>
    </div>
  </div>
</BaseLayout>
