---
import VideoListItem from '../../components/VideoListItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllVideos } from '../../lib/video';
import { t } from '../../helpers/translate';

const videos = await getAllVideos();
---

<BaseLayout
  title='Illustrated Videos - roadmap.sh'
  description={'Graphical video demonstrations on software engineering topics.'}
  permalink={`/videos`}
>
  <SimplePageHeader title={t('videos')} description={t('videos.tagline')} />

  <div class='bg-gray-50 pb-20 pt-2'>
    <div class='container'>
      <div class='mt-3 sm:my-5'>
        {videos.map((video) => <VideoListItem video={video} />)}
      </div>
    </div>
  </div>
</BaseLayout>
