<form>
  <h2 class='text-3xl font-bold sm:text-4xl'>Update Profile</h2>
  <p class='mt-2'>Manage settings for your roadmap.sh profile</p>
  <div class='mt-8 space-y-4'>
    <div class='flex w-full flex-col'>
      <label for='name' class='text-sm leading-none text-slate-500'>Name</label>
      <input
        type='text'
        name='name'
        id='name'
        class='mt-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='Arik Chakma'
      />
    </div>
    <div class='flex w-full flex-col'>
      <label for='email' class='text-sm leading-none text-slate-500'
        >Email</label
      >
      <input
        type='email'
        name='email'
        id='email'
        class='mt-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='arik@roadmap.sh'
      />
    </div>

    <!-- Github -->
    <div class='flex w-full flex-col'>
      <label for='github' class='text-sm leading-none text-slate-500'
        >Github Username</label
      >
      <input
        type='text'
        name='github'
        id='github'
        class='mt-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='arikchakma'
      />
    </div>
    <!-- LinkedIn -->
    <div class='flex w-full flex-col'>
      <label for='linkedin' class='text-sm leading-none text-slate-500'
        >LinkedIn Url</label
      >
      <input
        type='text'
        name='linkedin'
        id='linkedin'
        class='mt-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='https://www.linkedin.com/in/arikchakma/'
      />
    </div>
    <!-- Website -->
    <div class='flex w-full flex-col'>
      <label for='website' class='text-sm leading-none text-slate-500'
        >Website</label
      >
      <input
        type='text'
        name='website'
        id='website'
        class='mt-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='https://arikko.dev'
      />
    </div>

    <button
      class='!mt-5 inline-flex h-10 items-center justify-center rounded-lg border border-slate-300 bg-black p-2 px-4 text-sm font-medium text-white outline-none transition duration-150 ease-in-out focus:ring-2 focus:ring-black focus:ring-offset-1 disabled:opacity-60'
      type='button'
    >
      Update
    </button>
  </div>
</form>
