<div>
  <div class='grid grid-cols-2 border-b border-gray-200'>
    <div class='border-r border-gray-200 p-5 pb-8 pt-10 text-center'>
      <div class='relative text-3xl font-semibold'>
        10 <sup
          class='absolute top-0 ml-0.5 text-sm font-normal leading-none text-gray-500'
          >+5 today</sup
        >
      </div>
      <p class='mt-1'>Topics Completed</p>
    </div>

    <div class='p-5 pb-8 pt-10 text-center'>
      <div class='relative text-3xl font-semibold'>
        5 <sup
          class='absolute top-0 ml-0.5 text-sm font-normal leading-none text-gray-500'
          >days</sup
        >
      </div>
      <p class='mt-1'>Learning Streak</p>
    </div>
  </div>

  <!-- Continue Learning -->
  <div class='pl-0 pt-4 md:p-10 md:pr-0 md:pt-8'>
    <h3 class='text-2xl font-medium'>Continue Learning</h3>

    <div class='mt-4 grid gap-2 sm:grid-cols-2 md:grid-cols-3'>
      <div class='rounded border border-gray-100 p-2'>
        <h4 class='font-medium'>Frontend</h4>
        <p class='text-sm'>5/10 Completed</p>
      </div>

      <div class='rounded border border-gray-100 p-2'>
        <h4 class='font-medium'>Backend</h4>
        <p class='text-sm'>5/10 Completed</p>
      </div>

      <div class='rounded border border-gray-100 p-2'>
        <h4 class='font-medium'>Android</h4>
        <p class='text-sm'>5/10 Completed</p>
      </div>
    </div>
  </div>
</div>
