@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto !max-w-[830px] px-4;
  }

  .container-lg {
    @apply mx-auto !max-w-[968px] px-4;
  }

  .badge {
    @apply rounded-sm bg-gray-400 px-1.5 py-0.5 text-xs font-medium uppercase text-white;
  }

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

svg {
  user-select: none;
}

blockquote p:before {
  display: none;
}

blockquote p {
  font-style: normal;
}

.prose ul li > code,
.prose ol li > code,
p code,
a > code,
strong > code,
em > code,
h1 > code,
h2 > code,
h3 > code {
  background: #ebebeb !important;
  color: currentColor !important;
  font-size: 14px;
  font-weight: normal !important;
}

.prose ul li > code:before,
p > code:before,
.prose ul li > code:after,
.prose ol li > code:before,
p > code:before,
.prose ol li > code:after,
p > code:after,
a > code:after,
a > code:before {
  content: '' !important;
}

.course-content.prose ul li > code,
.course-content.prose ol li > code,
.course-content p code,
.course-content a > code,
.course-content strong > code,
.course-content em > code,
.course-content h1 > code,
.course-content h2 > code,
.course-content h3 > code {
  background: #282a36 !important;
  color: #f4f4f5 !important;
  padding: 2px 4px;
  border-radius: 5px;
  font-size: 17px !important;
}

.course-content.prose ul li > code:before,
.course-content p > code:before,
.course-content.prose ul li > code:after,
.course-content p > code:after,
.course-content a > code:after,
.course-content a > code:before {
  content: '' !important;
}

.course-content table {
  border-collapse: collapse;
  border: 1px solid black;
  border-radius: 5px;
}

.course-content table td,
.course-content table th {
  padding: 5px 10px;
}

.note-content-editor[contenteditable] ~ grammarly-extension,
.note-content-editor input ~ grammarly-extension,
.note-content-editor textarea ~ grammarly-extension {
  display: none;
}

.sponsor-footer {
  text-align: center;
  font-weight: 600;
  font-size: 9px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 3px 10px;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.4);
}
.striped-bg {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    hsla(0, 0%, 0%, 0.025) 5px,
    hsla(0, 0%, 0%, 0.025) 10px
  );
  background-size: 200% 200%;
}

.striped-loader {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    hsla(0, 0%, 0%, 0.025) 5px,
    hsla(0, 0%, 0%, 0.025) 10px
  );
  background-size: 200% 200%;
  animation: barberpole 15s linear infinite;
}

.striped-loader-darker {
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 5px,
    hsla(0, 0%, 0%, 0.2) 5px,
    hsla(0, 0%, 0%, 0.2) 10px
  );
  background-size: 200% 200%;
  animation: barberpole 15s linear infinite;
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

.certificate-bg {
  background-color: white;
  background-image: radial-gradient(#444df74f 0.5px, transparent 0.5px),
    radial-gradient(#444df74f 0.5px, white 0.5px);
  background-size: 20px 20px;
  background-position:
    0 0,
    10px 10px;
}
