@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply mx-auto max-w-[830px] px-4;
  }
}

.prose ul li > code,
.prose ol li > code,
p > code,
a > code,
strong > code,
em > code,
h1 > code,
h2 > code,
h3 > code {
  background: #ebebeb !important;
  color: currentColor !important;
  font-size: 14px;
  font-weight: normal !important;
}

.prose ul li > code:before,
p > code:before,
.prose ul li > code:after,
p > code:after,
a > code:after,
a > code:before {
  content: '' !important;
}

.sponsor-footer {
  text-align: center;
  font-weight: 600;
  font-size: 9px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding: 3px 10px;
  display: block;
  background: repeating-linear-gradient(
      -45deg,
      transparent,
      transparent 5px,
      hsla(0, 0%, 0%, 0.025) 5px,
      hsla(0, 0%, 0%, 0.025) 10px
    )
    hsla(203, 11%, 95%, 0.4);
}
