---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { RoadmapRenderer } from '../../components/CustomRoadmap/RoadmapRenderer';
import Loader from '../../components/Loader.astro';
---

<BaseLayout title='Roadmaps'>
  <div>
    <div class='flex min-h-[300px] flex-col'>
      <div class='flex grow items-center justify-center' data-roadmap-loader>
        <Loader />
      </div>
      <RoadmapRenderer client:only='react' />
    </div>
  </div>
</BaseLayout>
