---
import { getRoadmapTopicFiles } from '../../lib/roadmap-topic';

export const partial = true;

const { topicId, roadmapId } = Astro.params;
if (!topicId) {
  return new Response();
}

const topicSlug = `/${roadmapId}/${topicId}`;
const topicPathMapping = await getRoadmapTopicFiles();

const topicDetails = topicPathMapping[topicSlug];
if (!topicDetails) {
  return Astro.redirect('/404');
}

const { file } = topicDetails;

const fileWithoutBasePath = file.file?.replace(/.+?\/src\/data/, '/src/data');
const gitHubUrl = `https://github.com/kamranahmedse/developer-roadmap/tree/master${fileWithoutBasePath}`;
---

<div data-github-url={gitHubUrl}></div>

<file.Content />
