---
import ChangePassword from '../../components/Setting/ChangePassword.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='Change Password' description=''>
  <div class='container py-10'>
    <ChangePassword />
  </div>
</BaseLayout>
