---
import UpdateProfile from '../../components/Setting/UpdateProfile.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
---

<BaseLayout title='Update Profile'>
  <div class='container py-10'>
    <UpdateProfile />
  </div>
</BaseLayout>
