---
import SettingSidebar from '../../components/Setting/SettingSidebar.astro';
import UpdatePasswordForm from '../../components/Setting/UpdatePasswordForm';
import SettingLayout from '../../layouts/SettingLayout.astro';
---

<SettingLayout title='Change Password' description='' noIndex={true}>
  <SettingSidebar pageUrl='change-password' name='Change Password'>
    <div class='pt-0 pl-0 md:p-10 md:pr-0'>
      <UpdatePasswordForm client:load />
    </div>
  </SettingSidebar>
</SettingLayout>
