---
import Icon from '../AstroIcon.astro';
import AccountDropdown from './AccountDropdown.astro';
---

<div class='bg-slate-900 py-5 text-white sm:py-8'>
  <nav class='container flex items-center justify-between'>
    <a class='flex items-center text-lg font-medium text-white' href='/' aria-label="roadmap.sh">
      <Icon icon='logo' />
    </a>

    <!-- Desktop navigation items -->
    <ul class='hidden space-x-5 sm:flex sm:items-center'>
      <li>
        <a href='/roadmaps' class='text-gray-400 hover:text-white'>Roadmaps</a>
      </li>
      <li>
        <a href='/best-practices' class='text-gray-400 hover:text-white'
          >Best Practices</a
        >
      </li>
      <li class='hidden lg:inline'>
        <a href='/guides' class='text-gray-400 hover:text-white'>Guides</a>
      </li>
      <li class='hidden lg:inline'>
        <a href='/videos' class='text-gray-400 hover:text-white'>Videos</a>
      </li>
      <li>
        <kbd data-command-menu class="hidden md:flex items-center text-gray-400 border border-gray-800 rounded-md px-2.5 py-1 text-sm hover:bg-gray-800 hover:cursor-pointer">
          <!-- <Icon icon='search' class='h-3 w-3 mr-2' /> -->
          <kbd class='font-sans mr-1'>⌘</kbd><kbd class='font-sans'>K</kbd>
        </kbd>
      </li>
    </ul>
    <ul class='hidden h-8 w-[172px] items-center justify-end gap-5 sm:flex'>
      <li data-guest-required class='hidden'>
        <a href='/login' class='text-gray-400 hover:text-white'>Login</a>
      </li>
      <li>
        <AccountDropdown />

        <a
          data-guest-required
          class='flex hidden h-8 w-28 cursor-pointer items-center justify-center rounded-full bg-gradient-to-r from-blue-500 to-blue-700 px-4 py-2 text-sm font-medium text-white hover:from-blue-500 hover:to-blue-600'
          href='/signup'
        >
          <span>Sign Up</span>
        </a>
      </li>
    </ul>

    <!-- Mobile Navigation Button -->
    <button
      class='block cursor-pointer text-gray-400 hover:text-gray-50 sm:hidden'
      aria-label='Menu'
      data-show-mobile-nav
    >
      <Icon icon='hamburger' />
    </button>

    <!-- Mobile Navigation Items -->
    <div
      class='fixed bottom-0 left-0 right-0 top-0 z-40 flex hidden items-center bg-slate-900'
      data-mobile-nav
    >
      <button
        data-close-mobile-nav
        class='absolute right-6 top-6 block cursor-pointer text-gray-400 hover:text-gray-50'
        aria-label='Close Menu'
      >
        <Icon icon='close' />
      </button>
      <ul class='flex w-full flex-col items-center gap-2 md:gap-3'>
        <li>
          <a href='/roadmaps' class='text-xl hover:text-blue-300 md:text-lg'>
            Roadmaps
          </a>
        </li>
        <li>
          <a
            href='/best-practices'
            class='text-xl hover:text-blue-300 md:text-lg'
          >
            Best Practices
          </a>
        </li>
        <li>
          <a href='/guides' class='text-xl hover:text-blue-300 md:text-lg'>
            Guides
          </a>
        </li>
        <li>
          <a href='/videos' class='text-xl hover:text-blue-300 md:text-lg'>
            Videos
          </a>
        </li>

        <!-- Links for logged in users -->
        <li data-auth-required class='hidden'>
          <a
            href='/account/update-profile'
            class='text-xl hover:text-blue-300 md:text-lg'
          >
            Settings
          </a>
        </li>
        <li data-auth-required class='hidden'>
          <button
            data-logout-button
            class='text-xl text-red-300 hover:text-red-400 md:text-lg'
          >
            Logout
          </button>
        </li>
        <li>
          <a
            data-guest-required
            href='/signup'
            class='hidden text-xl text-white md:text-lg'
          >
            Login
          </a>
        </li>
        <li>
          <a
            data-guest-required
            href='/signup'
            class='hidden text-xl text-green-300 hover:text-green-400 md:text-lg'
          >
            Sign Up
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<script src='./navigation.ts'></script>
