<span class='absolute -right-[11px] top-0'>
  <span class='relative flex h-2 w-2'>
    <span
      class='absolute inline-flex h-full w-full animate-ping rounded-full bg-sky-400 opacity-75'
    ></span>
    <span class='relative inline-flex h-2 w-2 rounded-full bg-sky-500'></span>
  </span>
</span>
