---
import MarkdownContent from "../components/MarkdownContent/MarkdownContent.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
import { getTopicPathMapping, TopicFileType } from "../lib/roadmap";

export async function getStaticPaths() {
  const topicPathMapping = await getTopicPathMapping();

  // console.log(topicPathMapping);

  return Object.keys(topicPathMapping).map((topicSlug) => ({
    params: { topicId: topicSlug },
    props: topicPathMapping[topicSlug],
  }));
}

const { topicId } = Astro.params;
const props: TopicFileType = Astro.props as any;
---

<BaseLayout title="What is this">
  <MarkdownContent>
    <main id="main-content">
      <props.Content />
    </main>
  </MarkdownContent>
</BaseLayout>
