---
import MarkdownContent from '../components/MarkdownContent/MarkdownContent.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getTopicFiles, TopicFileType } from '../lib/topic';

export async function getStaticPaths() {
  const topicPathMapping = await getTopicFiles();

  // console.log(topicPathMapping);

  return Object.keys(topicPathMapping).map((topicSlug) => ({
    params: { topicId: topicSlug.replace(/^\//, '') },
    props: topicPathMapping[topicSlug],
  }));
}

const { topicId } = Astro.params;
const { file } = Astro.props as TopicFileType;
---

<BaseLayout title="What is this">
  <MarkdownContent>
    <main id="main-content">
      <file.Content />
    </main>
  </MarkdownContent>
</BaseLayout>
