---
import Breadcrumbs from '../components/Breadcrumbs.astro';
import MarkdownContent from '../components/MarkdownContent/MarkdownContent.astro';
import RoadmapBanner from '../components/RoadmapBanner.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getTopicFiles, TopicFileType } from '../lib/topic';

export async function getStaticPaths() {
  const topicPathMapping = await getTopicFiles();

  return Object.keys(topicPathMapping).map((topicSlug) => ({
    params: { topicId: topicSlug.replace(/^\//, '') },
    props: topicPathMapping[topicSlug],
  }));
}

const { topicId } = Astro.params;
const { file, breadcrumbs, roadmapId, roadmap } = Astro.props as TopicFileType;
---

<BaseLayout title="What is this">
  <RoadmapBanner roadmapId={roadmapId} roadmap={roadmap} />
  <Breadcrumbs breadcrumbs={breadcrumbs} roadmapId={roadmapId} />

  <MarkdownContent>
    <main id="main-content">
      <file.Content />
    </main>
  </MarkdownContent>
</BaseLayout>
