---
import SimplePageHeader from '../components/SimplePageHeader.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getAllChangelogs } from '../lib/changelog';
import ChangelogItem from '../components/Changelog/ChangelogItem.astro';

const allChangelogs = await getAllChangelogs();
---

<BaseLayout
  title='Changelogs'
  description='Changelogs for the updates and changes in the website'
  permalink='/changelogs'
  noIndex={true}
>
  <div class='bg-gray-100'>
    <div class='rounded-lg border-b bg-white text-left'>
      <div class='mx-auto max-w-[500px] pt-12 pb-10 text-center'>
        <h1 class='mb-3 text-4xl font-semibold'>Changelog</h1>
        <p>Here is everything we have been shipping recently</p>
      </div>
    </div>

    <div class='relative mx-auto max-w-[500px] pb-8 pt-4'>
      <div class='space-y-6'>
        <div
          class='absolute inset-y-0 -left-5 w-px -translate-x-[0.5px] bg-gray-300'
        >
        </div>

        {
          allChangelogs.map((changelog) => (
            <ChangelogItem changelog={changelog} />
          ))
        }
      </div>
    </div>
  </div>
</BaseLayout>
