---
import { DashboardPage } from '../components/Dashboard/DashboardPage';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getAllBestPractices } from '../lib/best-practice';
import { getRoadmapsByTag } from '../lib/roadmap';

const roadmaps = await getRoadmapsByTag('roadmap');
const bestPractices = await getAllBestPractices();

const enrichedRoadmaps = roadmaps.map((roadmap) => {
  const { frontmatter } = roadmap;

  return {
    id: roadmap.id,
    title: frontmatter.briefTitle,
    description: frontmatter.briefDescription,
  };
});
const enrichedBestPractices = bestPractices.map((bestPractice) => {
  const { frontmatter } = bestPractice;

  return {
    id: bestPractice.id,
    title: frontmatter.briefTitle,
    description: frontmatter.briefDescription,
  };
});
---

<BaseLayout title='Dashboard' noIndex={true}>
  <DashboardPage
    builtInRoadmaps={enrichedRoadmaps}
    builtInBestPractices={enrichedBestPractices}
    client:load
  />
  <div slot='open-source-banner'></div>
</BaseLayout>
