---
import { DashboardPage } from '../components/Dashboard/DashboardPage';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title='Dashboard' noIndex={true}>
  <DashboardPage client:load />
  <div slot='open-source-banner'></div>
</BaseLayout>
