---
import { ForgotPasswordForm } from '../components/AuthenticationFlow/ForgotPasswordForm';
import AccountLayout from '../layouts/AccountLayout.astro';
import {AccountTerms} from "../components/AccountTerms";
---

<AccountLayout title='Forgot Password' noIndex={true} permalink="/forgot-password">
  <div class='container'>
    <div
      class='mx-auto flex flex-col items-start justify-start pb-28 pt-10 sm:max-w-[400px] sm:items-center sm:justify-center sm:pt-20'
    >
      <div class='mb-2 text-left sm:mb-5 sm:text-center'>
        <h1 class='mb-2 text-3xl font-semibold sm:mb-5 sm:text-5xl'>
          Forgot Password?
        </h1>
        <p class='mb-3 text-base leading-6 text-gray-600'>
          Enter your email address below and we will send you a link to reset
          your password.
        </p>
      </div>

      <ForgotPasswordForm client:load />

      <div
          class='mt-3 w-full rounded-md border py-2 text-center text-sm text-slate-600'
      >
        Don't have an account?{' '}
        <a
            href='/signup'
            class='font-medium text-blue-700 hover:text-blue-600 hover:underline'
        >
          Sign up
        </a>
      </div>
    </div>
  </div>
</AccountLayout>
