---
import FeaturedItems from '../components/FeaturedItems/FeaturedItems.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { getRoadmapsByTag } from '../lib/roadmap';

const roleRoadmaps = await getRoadmapsByTag('role-roadmap');

// Add Swami Vivekananda quote and image
const swamiImageURL = 'https://firebasestorage.googleapis.com/v0/b/roadmaps-50aa0.appspot.com/o/Vivekanandha-BW.png?alt=media&token=be78fef5-85b6-4421-9e40-612f96f5fd47';
---

<BaseLayout
  title='High Performance Roadmaps'
  description={'"Develop the X FACTOR In You." The High Performance Roadmaps curated with ❤ by "THE TEAM"'}
  permalink={'/'}
>


<div class='bg-black '>
      <div class='border-b border-b-[#1e293c] '>
      <div class='container text-left sm:text-center py-6 sm:py-20  sm:px-0'>

      {/* Swami Vivekananda quote on the left */}
      <div class='flex flex-col sm:flex-row items-center  h-96'>
        <blockquote class='text-xl sm:text-2xl pt-12 font-dalena text-white '>
          <p class="text-[42px] leading-[50px]">" The great secret of true success, of true happiness, is this: the man or woman who asks for no return, the perfectly unselfish person, is the most successful. "</p>
        </blockquote>

        {/* Masked image on the right with hover effect */}
        <div class=' overflow-hidden '>
          <img
            src={swamiImageURL}
            alt='Swami Vivekananda'
            class='object-cover w-[600px]   transition-transform transform hover:scale-110'
          />
        </div>
      </div>

        <h1
          class='text-2xl sm:text-5xl py-2 mb-2 sm:mb-4 font-bold bg-white text-transparent bg-clip-text'
        >
          High Performance Roadmaps
        </h1>

        <p class='hidden sm:block text-lg px-4'>
          <span class='font-medium text-[#DADADA]'>"Develop the X FACTOR In You."</span>
          <span class="font-small text-[#DADADA]">The High Performance Roadmaps curated with ❤️ by</span>
          <span class='font-medium text-[#DADADA]'>"THE TEAM"</span>
        </p>

        <p class='block sm:hidden text-gray-400 text-md px-0'>
          "Develop the X FACTOR In You." The High Performance Roadmaps curated with ❤ by "THE TEAM"        </p>
      </div>
    </div>

    <FeaturedItems
      heading='Role based Roadmaps'
      featuredItems={roleRoadmaps.map((roadmapItem) => ({
        text: roadmapItem.frontmatter.briefTitle,
        url: `/${roadmapItem.id}`,
        isNew: roadmapItem.frontmatter.isNew,
        isUpcoming: roadmapItem.frontmatter.isUpcoming,
      }))}
    />
  </div>
</BaseLayout>
