---
import Divider from '../components/AuthenticationFlow/Divider.astro';
import { GitHubButton } from '../components/AuthenticationFlow/GitHubButton';
import { GoogleButton } from '../components/AuthenticationFlow/GoogleButton';
import EmailLoginForm from '../components/AuthenticationFlow/EmailLoginForm';
import SettingLayout from '../layouts/SettingLayout.astro';
---

<SettingLayout
  title='Login - roadmap.sh'
  description='Register yourself to receive occasional emails about new roadmaps, updates, guides and videos'
  permalink={'/signup'}
  noIndex={true}
>
  <div class='container'>
    <div class='mx-auto flex flex-col items-start justify-start pb-28 pt-10 sm:max-w-[400px] sm:items-center sm:justify-center sm:pt-20'>
      <div class='mb-2 text-left sm:mb-5 sm:text-center'>
        <h1 class='mb-2 text-3xl font-semibold sm:mb-5 sm:text-5xl'>Login</h1>
        <p class='text-base text-gray-600 leading-6 mb-3'>
          Welcome back! Let's take you to your account.
        </p>
      </div>

      <div class='flex w-full flex-col gap-2'>
        <GitHubButton client:load />
        <GoogleButton client:load />
      </div>

      <Divider />

      <EmailLoginForm client:load />

      <div class='mt-6 text-center text-sm text-slate-600'>
        Don't have an account?{' '}
        <a href='/signup' class='font-medium text-blue-700 hover:text-blue-600'>
          Sign up
        </a>
      </div>
    </div>
  </div>
</SettingLayout>
