---
import { ResetPasswordForm } from '../components/AuthenticationFlow/ResetPasswordForm';
import AccountLayout from '../layouts/AccountLayout.astro';
---

<AccountLayout title='Reset Password' noIndex={true}>
  <div class='container'>
    <div
      class='mx-auto flex flex-col items-start justify-start pb-28 pt-10 sm:max-w-[400px] sm:items-center sm:justify-center sm:pt-20'
    >
      <div class='mb-2 text-left sm:mb-5 sm:text-center'>
        <h1 class='mb-2 text-3xl font-semibold sm:mb-5 sm:text-5xl'>
          Reset Password
        </h1>
        <p class='mb-3 text-base leading-6 text-gray-600'>
          Enter and confirm your new password below.
        </p>
      </div>

      <ResetPasswordForm client:load />
    </div>
  </div>
</AccountLayout>
