---
import SettingLayout from '../layouts/SettingLayout.astro';
---

<SettingLayout title='Reset Password'>
  <div class='container py-16'>
    <form class='mx-auto max-w-md'>
      <h2 class='mb-6 text-3xl font-bold sm:text-center sm:text-4xl'>
        Reset your password
      </h2>

      <label
        for='new-password'
        class='text-sm leading-none text-slate-500 after:text-red-400 after:content-["*"]'
      >
        New Password
      </label>
      <input
        type='password'
        name='new-password'
        id='new-password'
        class='mt-2 mb-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='Enter a new password'
      />

      <label
        for='new-password-confirm'
        class='text-sm leading-none text-slate-500 after:text-red-400 after:content-["*"]'
      >
        Confirm New Password
      </label>
      <input
        type='password'
        name='new-password-confirm'
        id='new-password-confirm'
        class='mt-2 block w-full appearance-none rounded-lg border border-gray-300 px-3 py-2 shadow-sm outline-none transition duration-150 ease-in-out placeholder:text-gray-400 focus:ring-2 focus:ring-black focus:ring-offset-1'
        required
        placeholder='Confirm your new password'
      />

      <button
        type='submit'
        class='mt-5 inline-flex h-10 w-full items-center justify-center rounded-lg border border-slate-300 bg-black p-2 px-4 text-sm font-medium text-white outline-none transition duration-150 ease-in-out focus:ring-2 focus:ring-black focus:ring-offset-1 disabled:cursor-not-allowed disabled:opacity-60'
        >Reset my password</button
      >
    </form>
  </div>
</SettingLayout>
