---
import BaseLayout from '../layouts/BaseLayout.astro';

import Command from '../components/Command/Command';
---

<BaseLayout title='Search'>
  <div class='p-10'>
    <Command client:only />
  </div>
</BaseLayout>
