---
import CaptchaScripts from '../components/Captcha/CaptchaScripts.astro';
import Divider from '../components/Login/Divider.astro';
import GoogleLogin from '../components/Login/GoogleLogin.astro';
import EmailSignupForm from '../components/Login/EmailSignupForm';
import BaseLayout from '../layouts/BaseLayout.astro';
import { GitHubButton } from '../components/AuthenticationFlow/GitHubButton';
import { GoogleButton } from '../components/AuthenticationFlow/GoogleButton';
---

<BaseLayout
  title='Signup - roadmap.sh'
  description='Create an account to track your progress, showcase your skillset'
  permalink={'/signup'}
  noIndex={true}
>
  <div class='container'>
    <div
      class='mx-auto flex flex-col items-start justify-start py-12 sm:max-w-[400px] sm:items-center sm:justify-center'
    >
      <div class='mb-2 text-left sm:mb-5 sm:text-center'>
        <h1 class='mb-2 text-3xl font-semibold sm:mb-4 sm:text-5xl'>Sign Up</h1>
        <p class='text-md hidden text-gray-600 sm:block'>
          Create an account to track your progress, showcase your skill-set and be a part of the community.
        </p>
        <p class='block text-sm text-gray-600 mb-3 sm:hidden'>
          Create an account to track your progress, showcase your skill-set and be a part of the community.
          videos.
        </p>
      </div>

      <div class='flex w-full flex-col items-stretch gap-2'>
        <GitHubButton client:load />
        <GoogleButton client:load />
      </div>

      <Divider />

      <EmailSignupForm client:load />

      <div class='mt-6 text-center text-sm text-slate-600'>
        Already have an account? <a
          href='/login'
          class='font-medium text-blue-700 hover:text-blue-600'>Login</a
        >
      </div>
    </div>
  </div>
</BaseLayout>

<script>
  import Cookies from 'js-cookie';
  import { TOKEN_COOKIE_NAME } from '../lib/constants';
  const token = Cookies.get(TOKEN_COOKIE_NAME);
  if (token) {
    window.location.href = '/';
  }
</script>
