---
import CaptchaFields from '../components/Captcha/CaptchaFields.astro';
import CaptchaScripts from '../components/Captcha/CaptchaScripts.astro';
import { Divider, GithubLoginButton, GoogleLoginButton } from '../components/Login/LoginComponent';
import EmailLoginForm from '../components/Login/email-login-form';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title='Signup - roadmap.sh'
  description='Register yourself to receive occasional emails about new roadmaps, updates, guides and videos'
  permalink={'/signup'}
  noIndex={true}
>
  <div class='container'>
    <div
      class='py-12 sm:py-0 sm:min-h-[550px] sm:max-w-[400px] mx-auto flex items-start sm:items-center flex-col justify-start sm:justify-center'
    >
      <div class='mb-2 sm:mb-5 text-left sm:text-center'>
        <h1 class='text-3xl sm:text-5xl font-semibold mb-2 sm:mb-4'>Signup</h1>
        <p class='hidden sm:block text-md text-gray-600'>
          Register yourself to receive occasional emails about new roadmaps, updates, guides and videos
        </p>
        <p class='text-sm block sm:hidden text-gray-600'>
          Register yourself for occasional updates about roadmaps, guides and videos.
        </p>
      </div>

      <div class="space-y-2 w-full">
        <GithubLoginButton />
        <GoogleLoginButton />
      </div>

      <Divider />

			<EmailLoginForm client:load />
    </div>
  </div>

  <CaptchaScripts slot='after-footer' />
</BaseLayout>
