---
import BaseLayout from '../layouts/BaseLayout.astro';
import { ThankYouPage } from '../components/ThankYou/ThankYouPage';
---

<BaseLayout title='Thank you'>
  <ThankYouPage client:load />
  <div slot='page-footer'></div>
</BaseLayout>
