---
import { TriggerVerifyAccount } from '../components/AuthenticationFlow/TriggerVerifyAccount';
import AccountLayout from '../layouts/AccountLayout.astro';
import { t } from '../helpers/translate';
---

<AccountLayout title={t('verifyAccount')} noIndex={true}>
  <div class='container py-16'>
    <TriggerVerifyAccount client:load />
  </div>
</AccountLayout>
