---
import { TriggerVerifyAccount } from '../components/AuthenticationFlow/TriggerVerifyAccount';
import SettingLayout from '../layouts/SettingLayout.astro';
---

<SettingLayout title='Verify account'>
  <div class='container py-16'>
    <TriggerVerifyAccount client:load />
  </div>
</SettingLayout>
