.ai-chat {
  .prose ul li > code,
  .prose ol li > code,
  p code,
  a > code,
  strong > code,
  em > code,
  h1 > code,
  h2 > code,
  h3 > code {
    background: #ebebeb !important;
    color: currentColor !important;
    font-size: 14px;
    font-weight: normal !important;
  }

  .message-markdown.prose ul li > code,
  .message-markdown.prose ol li > code,
  .message-markdown.prose p code,
  .message-markdown.prose a > code,
  .message-markdown.prose strong > code,
  .message-markdown.prose em > code,
  .message-markdown.prose h1 > code,
  .message-markdown.prose h2 > code,
  .message-markdown.prose h3 > code {
    font-size: 12px !important;
  }

  .message-markdown pre {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .message-markdown pre::-webkit-scrollbar {
    display: none;
  }

  .message-markdown pre,
  .message-markdown pre {
    overflow: scroll;
  }

  .prose ul li > code:before,
  p > code:before,
  .prose ul li > code:after,
  .prose ol li > code:before,
  p > code:before,
  .prose ol li > code:after,
  .message-markdown h1 > code:after,
  .message-markdown h1 > code:before,
  .message-markdown h2 > code:after,
  .message-markdown h2 > code:before,
  .message-markdown h3 > code:after,
  .message-markdown h3 > code:before,
  .message-markdown h4 > code:after,
  .message-markdown h4 > code:before,
  p > code:after,
  a > code:after,
  a > code:before {
    content: '' !important;
  }

  .message-markdown.prose ul li > code,
  .message-markdown.prose ol li > code,
  .message-markdown p code,
  .message-markdown a > code,
  .message-markdown strong > code,
  .message-markdown em > code,
  .message-markdown h1 > code,
  .message-markdown h2 > code,
  .message-markdown h3 > code,
  .message-markdown table code {
    background: #f4f4f5 !important;
    border: 1px solid #282a36 !important;
    color: #282a36 !important;
    padding: 2px 4px;
    border-radius: 5px;
    white-space: pre;
    font-weight: normal;
  }

  .message-markdown blockquote {
    font-style: normal;
  }

  .message-markdown.prose blockquote h1,
  .message-markdown.prose blockquote h2,
  .message-markdown.prose blockquote h3,
  .message-markdown.prose blockquote h4 {
    font-style: normal;
    margin-bottom: 8px;
  }

  .message-markdown.prose ul li > code:before,
  .message-markdown p > code:before,
  .message-markdown.prose ul li > code:after,
  .message-markdown p > code:after,
  .message-markdown h2 > code:after,
  .message-markdown h2 > code:before,
  .message-markdown table code:before,
  .message-markdown table code:after,
  .message-markdown a > code:after,
  .message-markdown a > code:before,
  .message-markdown h2 code:after,
  .message-markdown h2 code:before,
  .message-markdown h2 code:after,
  .message-markdown h2 code:before {
    content: '' !important;
  }

  .message-markdown table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 5px;
  }

  .message-markdown table td,
  .message-markdown table th {
    padding: 5px 10px;
  }

  .chat-variable {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    padding: 2px 4px;
    border-radius: 8px;
    background-color: #f0f5ff;
    color: #2c5df1;
  }
}
