---
import { ChallengeView } from '../../components/Course/ChallengeView';
import type { ChallengeFileType } from '../../lib/course';
import { getCourseById, getCourseExerciseById } from '../../lib/course';

const course = await getCourseById('sql');
const exercise = (await getCourseExerciseById(
  'sql',
  'introduction',
  'challenge-1',
)) as ChallengeFileType;
---

<ChallengeView
  defaultValue={exercise.frontmatter.defaultValue}
  expectedResults={exercise.frontmatter.expectedResults}
  initSteps={exercise.frontmatter.initSteps}
  client:load
>
  <div class='prose prose-xl prose-invert'>
    <exercise.Content />
  </div>
</ChallengeView>
