---
import { t } from '../helpers/translate';
export interface Props {
  bestPracticeId: string;
}
---

<div class='mb-0 mt-4 rounded-md border-0 sm:-mb-[65px] sm:mt-7 sm:border'>
  <!-- Desktop: Roadmap Resources - Alert -->
  <div
    class='hidden items-center justify-between rounded-md bg-white p-1.5 px-2 sm:flex'
  >
    <p class='text-sm'>
      <span
        class='mr-0.5 rounded-sm bg-yellow-200 px-1 py-0.5 text-xs font-medium uppercase text-yellow-900'
        >{t('tip')}</span
      >
      {t('tipTagline')}
    </p>
  </div>

  <!-- Mobile - Roadmap resources alert -->
  <p
    class='relative block rounded-md border border-yellow-500 bg-white px-2 py-1.5 text-sm text-yellow-700 sm:hidden'
  >
    {t('tipTagline')}
  </p>
</div>
