---
import { RoadmapHintProgress } from './RoadmapHint/RoadmapHintProgress';
export interface Props {
  bestPracticeId: string;
}

const { bestPracticeId } = Astro.props;
---

<div class='mb-0 mt-4 rounded-md border-0 sm:-mb-[65px] sm:mt-7 sm:border'>
  <div
    class='relative flex hidden h-8 items-center justify-between overflow-hidden rounded-md border bg-white px-2 text-sm sm:border-0'
    id='resource-progress'
  >
    <RoadmapHintProgress
      resourceId={bestPracticeId}
      resourceType='best-practice'
      client:authenticated
    />
  </div>
  <!-- Desktop: Roadmap Resources - Alert -->
  <div
    id='roadmap-hint'
    class='relative hidden h-8 items-center justify-between overflow-hidden rounded-md bg-white p-1.5 px-2 sm:flex'
  >
    <p class='text-sm'>
      <span
        class='mr-0.5 rounded-sm bg-yellow-200 px-1 py-0.5 text-xs font-medium uppercase text-yellow-900'
        >Tip</span
      >
      Click the best practices for details and resources
    </p>
  </div>

  <!-- Mobile - Roadmap resources alert -->
  <p
    id='roadmap-hint'
    class='relative block h-8 rounded-md border border-yellow-500 bg-white px-2 py-1.5 text-sm text-yellow-700 sm:hidden'
  >
    Click the best practices for details and resources
  </p>
</div>
