---
import ResourceProgressStats from './ResourceProgressStats.astro';
export interface Props {
  bestPracticeId: string;
}
---

<div class='mt-4 sm:mt-7 border-0 sm:border rounded-md mb-0 sm:-mb-[65px]'>
  <ResourceProgressStats />
</div>
