---
import type { BreadcrumbItem } from '../lib/roadmap-topic';
import { t } from '../helpers/translate';

export interface Props {
  breadcrumbs: BreadcrumbItem[];
  roadmapId: string;
}

const { breadcrumbs, roadmapId } = Astro.props;
---

<div class='py-7 pb-6'>
  <!-- Desktop breadcrumbs -->
  <p class='container hidden text-gray-500 sm:block'>
    {
      breadcrumbs.map((breadcrumb, counter) => {
        const isLast = counter === breadcrumbs.length - 1;

        if (!isLast) {
          return (
            <>
              <a class='hover:text-gray-800' href={`${breadcrumb.url}`}>
                {breadcrumb.title}
              </a>
              <span>&nbsp;&middot;&nbsp;</span>
            </>
          );
        }

        return <span class='text-gray-400'>{breadcrumb.title}</span>;
      })
    }
  </p>

  <!-- Mobile breadcrums -->
  <p class='container block sm:hidden'>
    <a
      class='rounded-md bg-gray-500 px-3 py-1.5 text-xs font-medium text-white hover:bg-gray-600 sm:text-sm'
      href={`/${roadmapId}`}
    >
      &larr; {t('backtoTopicList')}
    </a>
  </p>
</div>
