---
import type { GuideFileType } from '../lib/guide';
import GuideListItem from './GuideListItem.astro';
import { t } from '../helpers/translate';

export interface Props {
  heading: string;
  guides: GuideFileType[];
}

const { heading, guides } = Astro.props;
---

<div class='container'>
  <h1 class='block text-2xl font-bold sm:text-3xl'>{heading}</h1>

  <div class='mt-3 sm:my-5'>
    {guides.map((guide) => <GuideListItem guide={guide} />)}
  </div>

  <a
    href='/guides'
    class='hidden rounded-full bg-gradient-to-r from-slate-600 to-black px-3 py-2 text-xs font-medium text-white transition-colors hover:from-blue-600 hover:to-blue-800 sm:inline'
  >
    {t('viewAllGuides')} &rarr;
  </a>

  <div class='mt-3 block sm:hidden'>
    <a
      href='/guides'
      class='font-regular block rounded-md border border-black p-2 text-center text-sm text-black hover:bg-black hover:text-gray-50'
    >
      {t('viewAllGuides')} &nbsp;&rarr;
    </a>
  </div>
</div>
