---
import type { VideoFileType } from '../lib/video';
import VideoListItem from './VideoListItem.astro';
import { t } from '../helpers/translate';

export interface Props {
  heading: string;
  videos: VideoFileType[];
}

const { heading, videos } = Astro.props;
---

<div class='container'>
  <h1 class='block text-2xl font-bold sm:text-3xl'>{heading}</h1>

  <div class='mt-3 sm:my-5'>
    {videos.map((video) => <VideoListItem video={video} />)}
  </div>

  <a
    href='/videos'
    class='hidden rounded-full bg-gradient-to-r from-slate-600 to-black px-3 py-2 text-xs font-medium text-white transition-colors hover:from-blue-600 hover:to-blue-800 sm:inline'
  >
    {t('viewAllVideos')} &rarr;
  </a>

  <div class='mt-3 block sm:hidden'>
    <a
      href='/videos'
      class='font-regular block rounded-md border border-black p-2 text-center text-sm text-black hover:bg-black hover:text-gray-50'
    >
      {t('viewAllVideos')} &nbsp;&rarr;
    </a>
  </div>
</div>
