---
import Icon from './Icon.astro';
import Aicbe1 from '../icons/aicbe_wthout_txt.svg';
---

<div class='py-6 sm:py-16 pb-10 bg-black text-white'>
  <div class='container'>
    <p class='text-gray-400 font-medium flex flex-col sm:flex-row gap-0 sm:gap-4 mb-8 sm:mb-16 justify-center'>
      <a
        class='transition-colors px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white'
        href='/'>Resources</a
      >
      <a
        class='transition-colors px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white'
        href='https://aitamilnadu.org'>Community</a
      >
      <a
        class='transition-colors px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white'
        href='https://www.linkedin.com/company/kgx/'>KGx</a
      >
      <a
        class='transition-colors px-2 py-1.5 border-b border-b-gray-700 sm:border-b-0 sm:py-0 sm:px-0 hover:text-white'
        href='https://www.linkedin.com/company/aicbe/'>AICbe</a
      >
      <a
        class='transition-colors px-2 py-1.5 sm:border-b-0 sm:py-0 sm:px-0 hover:text-[#ff0000]'
        href='https://youtube.com/playlist?list=PLxI06TjqRkocGFg_LPCNJ0R-anM8ELngh'
        target='_blank'>YouTube</a
      >
    </p>

    <div class='flex flex-col sm:flex-row justify-between gap-12'>
      <div class='max-w-[365px]'>
        <p class='flex items-center text-md'>
          <a
            class='font-medium text-lg inline-flex items-center text-white transition-colors hover:text-gray-400'
            href='https://www.linkedin.com/company/kgx/'
          >
            <Icon icon='logo' />
            <span class='ml-2'>KGXperience</span>
          </a>
          <span class='text-gray-400 mx-2'>by</span>
          <a
            class='bg-blue-600 text-sm py-1 px-1.5 font-regular hover:bg-blue-700 rounded-md'
            href='https://github.com/nivu'
            target='_blank'
          >
            <span class='hidden sm:inline'>@nivu</span>
            <span class='inline sm:hidden'>Navaneeth malingan</span>
          </a>
        </p>
        <p class='text-slate-300/60 my-4'>
          " KGXperience is a community initiative by KGiSL Edu that believes in curating and tinkering with innovation and state of art technologies forging new path in innovation. "
        </p>
      </div>

      <div class='text-left sm:text-left max-w-[365px]'>
        <p class='flex items-center text-md'>
          <a
            class='font-medium text-lg inline-flex items-center text-white transition-colors hover:text-gray-400'
            href='https://www.linkedin.com/company/aicbe/'>

            <Icon icon="aitn" />
            <!-- <span class='ml-2'></span> -->
          </a>
          <span class='text-gray-400 mx-2'>by</span>
          <a
            class='bg-blue-600 text-sm py-1 px-1.5 font-regular hover:bg-blue-700 rounded-md'
            href='https://github.com/dev-ansh-r'
            target='_blank'
          >
            <span class='hidden sm:inline'>@devansh</span>
            <span class='inline sm:hidden'>Devansh Shukla</span>
          </a>
        </p>
        <p class='text-slate-300/60 my-4'>
          "AI Tamil Nadu formely known as AI Coimbatore is a close-Knit community initiative by Navaneeth with a goal to offer world-class AI education to anyone in Tamilnadu for free."
        </p>
      </div>
      </div>
    </div>
  </div>
</div>
