---
import Icon from './AstroIcon.astro';
---

<div class='flex justify-center w-full'>
  <Icon
    icon='spinner'
    class='h-6 w-6 sm:w-12 sm:h-12 text-gray-200 animate-spin fill-blue-600'
  />
</div>
