---
import DownloadPopup from './DownloadPopup.astro';
import SubscribePopup from './SubscribePopup.astro';

export interface Props {
  roadmapId: string;
  description: string;
}

const { roadmapId, description } = Astro.props;
---

<div class='bg-gray-50 py-4 sm:py-10'>
  <div
    class='container prose prose-headings:mt-4 prose-headings:mb-2 prose-p:mb-0.5 relative prose-code:text-white'
  >
    <DownloadPopup />
    <SubscribePopup />

    <slot />
  </div>
</div>
