<div class='bg-gray-50'>
  <div
    class='container prose-blockquote:font-normal prose prose-code:bg-transparent prose-h2:text-3xl prose-h2:mt-4 prose-h2:mb-2 prose-h3:mt-2 prose-img:mt-1'
  >
    <slot />
  </div>
</div>
