---
import Icon from "./Icon.astro";
---

<div class="bg-black py-5 text-white sm:py-8">
  <nav class="container flex items-center justify-between">
    <a class="flex items-center text-lg font-medium text-white" href="/">
      <img src="/manifest/logo.svg" width="150" height="154"/> 
    </a>

    <!-- Desktop navigation items -->
    <ul class="hidden space-x-5 sm:flex">
      <!-- <li>
        <a href="/" class="text-gray-400 hover:text-white">Roadmaps</a>
      </li> -->
      <li>
        <a
          class="font-regular rounded-full bg-gradient-to-r from-blue-500 to-blue-700 px-4 py-2 text-sm text-white hover:from-blue-500 hover:to-blue-600"
          href="https://www.linkedin.com/company/kgx/">
          Follow Us
        </a>
      </li>
    </ul>
  </nav>
</div>