---
import { getFormattedStars } from '../lib/github';
import Icon from './AstroIcon.astro';
import { t } from '../helpers/translate';

const starCount = await getFormattedStars('kamranahmedse/developer-roadmap');
---

<div class='border-b border-t bg-white py-6 text-left sm:py-16 sm:text-center'>
  <div class='container max-w-[600px]'>
    <h2 class='text-2xl font-bold sm:text-5xl'>{t('community')}</h2>
    <p class='my-2.5 text-sm leading-relaxed text-gray-600 sm:my-5 sm:text-lg'>
      {t('opensourceRank')}
    </p>

    <div
      class='mb-1.5 flex flex-col justify-start gap-2 sm:mb-0 sm:flex-row sm:justify-center sm:gap-3'
    >
      <a
        href='https://github.com/kamranahmedse/developer-roadmap'
        target='_blank'
        class='inline-flex items-center rounded-lg border border-black bg-white px-3 py-1.5 text-sm hover:bg-black hover:text-white'
      >
        <Icon icon='star' class='-ml-1 mr-1 fill-current' />

        <span class='lowercase'>{starCount}</span>
        <span class='ml-2 hover:block'>{t('githubStars')}</span>
      </a>

      <a
        href='https://discord.gg/cJpEt5Qbwa'
        target='_blank'
        class='pointer group relative inline-flex items-center rounded-lg border border-black bg-white px-3 py-1.5 text-sm hover:bg-black hover:text-white'
      >
        <Icon icon='discord' class='-ml-1 mr-2 h-[14px] fill-current' />
        {t('joinDiscord')}
      </a>
    </div>
  </div>
</div>
