---
import { getRoadmapsByIds, RoadmapFrontmatter } from '../lib/roadmap';
import { t } from '../helpers/translate';

export interface Props {
  roadmap: RoadmapFrontmatter;
}

const { roadmap } = Astro.props;

const relatedRoadmaps = roadmap.relatedRoadmaps || [];
if (!relatedRoadmaps.length) {
  return null;
}

const relatedRoadmapDetails = await getRoadmapsByIds(relatedRoadmaps);
---

<div class='border-t bg-gray-100'>
  <div class='container'>
    <div class='relative -top-5 flex justify-between'>
      <h1 class='text-md rounded-md border bg-white px-3 py-1 font-medium'>
        {t('relatedRoadmaps')}
      </h1>
      <a
        href='/roadmaps'
        class='text-md rounded-md border bg-white px-3 py-1 font-medium hover:bg-gray-50'
      >
        <span class='hidden sm:inline'>{t('allRoadmaps')} &rarr;</span>
        <span class='inline sm:hidden'>{t('more')} &rarr;</span>
      </a>
    </div>

    <div class='flex flex-col gap-1 pb-8'>
      {
        relatedRoadmapDetails.map((relatedRoadmap) => (
          <a
            href={`/${relatedRoadmap.id}`}
            class='flex flex-col gap-0.5 rounded-md border bg-white px-3.5 py-2 hover:bg-gray-50 sm:flex-row sm:gap-0'
          >
            <span class='inline-block min-w-[150px] font-medium'>
              {relatedRoadmap.frontmatter.briefTitle}
            </span>
            <span class='text-gray-500'>
              {relatedRoadmap.frontmatter.briefDescription}
            </span>
          </a>
        ))
      }
    </div>
  </div>
</div>
