---
import { Debug } from 'astro/components';
import { markdownToHtml } from '../lib/markdown';

export interface Props {
  text: string;
}

const { text } = Astro.props;
---

<div class='bg-gray-50'>
  <div class='container pt-1'>
    <p
      class='text-sm bg-yellow-100 text-yellow-900 p-2 rounded-md mt-2 sm:mt-5 mb-0 sm:-mb-6 z-10 relative [&>a]:underline'
      set:html={markdownToHtml(text.trim())}
    />
  </div>
</div>
