---
import type { RoadmapFrontmatter } from '../lib/roadmap';
import { t } from '../helpers/translate';
export interface Props {
  roadmapId: string;
  roadmap: RoadmapFrontmatter;
}

const { roadmap, roadmapId } = Astro.props;
---

<a
  href={`/${roadmapId}`}
  class='sm:text-md flex items-center justify-center border-b bg-yellow-100 py-2 text-sm text-yellow-900 hover:bg-yellow-200 sm:py-3'
>
  <span class='container'>
    <span class='hidden sm:inline'>{t('visitInteractiveVersion')}</span>
    <span class='inline sm:hidden'>{t('visitComplete')}</span>

    <span class='ml-0.5 font-medium underline underline-offset-1 sm:lowercase'
      >{roadmap.briefTitle}</span
    >
  </span>
</a>
