---
import type { VideoFileType } from '../lib/video';

export interface Props {
  video: VideoFileType;
}

const { video } = Astro.props;
const { data: frontmatter, slug: id } = video;
---

<a
  class:list={[
    'text-md group block flex items-center justify-between border-b py-2 text-gray-600 no-underline hover:text-blue-600',
  ]}
  href={`/videos/${id}`}
>
  <span class='transition-transform group-hover:translate-x-2'>
    {frontmatter.title}

    {
      frontmatter.isNew && (
        <span class='ml-1.5 rounded-sm bg-green-300 px-1.5 py-0.5 text-xs font-medium uppercase text-green-900'>
          New
          <span class='hidden sm:inline'>
            &middot;
            {new Date(frontmatter.date).toLocaleString('default', {
              month: 'long',
            })}
          </span>
        </span>
      )
    }
  </span>
  <span class='hidden text-xs capitalize text-gray-500 sm:block'>
    {frontmatter.duration}
  </span>

  <span class='block text-xs text-gray-400 sm:hidden'> &raquo;</span>
</a>
