---
import Icon from './AstroIcon.astro';
import { t } from '../helpers/translate';
---

<!-- sticky top-0 -->
<div class='z-20 flex h-[37px] border-b border-b-yellow-300' youtube-banner>
  <a
    href='https://youtube.com/theroadmap?sub_confirmation=1'
    target='_blank'
    class='flex flex-1 items-center justify-center bg-yellow-200 text-center text-sm outline-0 hover:bg-yellow-300'
  >
    <Icon icon='youtube' class='mr-2' />
    {t('We now have a YouTube Channel.')}&nbsp;<span class='hidden sm:inline'
      >{t('Subscribe for the video content.')}</span
    >
  </a>
  <button
    class='bg-yellow-200 px-2 text-yellow-500 outline-0 hover:bg-yellow-400 hover:text-yellow-900'
    aria-label='Close'
    close-youtube-banner
  >
    <Icon icon='close' />
  </button>
</div>

<script>
  document
    .querySelector('[close-youtube-banner]')
    ?.addEventListener('click', () => {
      document.querySelector('[youtube-banner]')?.remove();
    });
</script>
