---
import { t } from '../helpers/translate';
---

<a
  href='https://youtube.com/theroadmap?sub_confirmation=1'
  target='_blank'
  class='text-md group hidden items-center text-red-600 hover:text-red-900 sm:flex'
>
  <span
    class='group-hover: mr-2 rounded-sm bg-red-600 px-1.5 py-0.5 text-xs font-medium uppercase text-white group-hover:bg-red-800'
    >{t('new')}</span
  >
  <span class='mr-1 underline'>{t('youtubeAlert')}</span>
  <span>&raquo;</span>
</a>
