<a
    href="https://youtube.com/theroadmap?sub_confirmation=1"
    target="_blank"
    class="text-md hidden sm:flex items-center text-red-600 group hover:text-red-900"
>
    <span
        class="bg-red-600 group-hover:bg-red-800 group-hover: px-1.5 py-0.5 rounded-xs text-white text-xs uppercase font-medium mr-2"
        >New</span
    >
    <span class="underline mr-1">We also have a YouTube channel with visual content</span>
    <span>&raquo;</span>
</a>
