---
import GridItem from '../../components/GridItem.astro';
import SimplePageHeader from '../../components/SimplePageHeader.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Footer from '../../components/Footer.astro';
import AstroIcon from "../../components/AstroIcon.astro";
import { QuestionsList } from '../../components/Questions/QuestionsList';

export async function getStaticPaths() {
  return [
    {
      params: { questionGroupId: 'frontend' },
      props: {},
    },
  ];
}
---

<BaseLayout
  title='Questions'
  description={'Step by step guides and paths to learn different tools or technologies'}
  permalink={'/roadmaps'}
  noIndex={true}
>
  <div class='flex bg-gray-50 pb-14 pt-4 sm:pb-16 sm:pt-8'>
    <div class='container !max-w-[700px]'>
      <div class='mb-5 mt-2 text-center sm:mb-10 sm:mt-8'>
        <h1
          class='my-2 text-3xl font-bold sm:my-5 sm:text-5xl'
        >
          Frontend Questions
        </h1>
        <p class='text-gray-500 text-xl'>
          Test, rate and improve your frontend knowledge with these questions.
        </p>
      </div>

      <QuestionsList client:load />
    </div>
  </div>

  <div slot='page-footer'>
    <Footer />
  </div>
</BaseLayout>
