<div class='border-t bg-gray-100'>
  <div class='container'>
    <div class='flex justify-between relative -top-5'>
      <h1 class='text-sm sm:text-base font-medium py-1 px-3 border bg-white rounded-md'>
        Frequently Asked Questions
      </h1>
    </div>

    <div class='flex flex-col gap-1 pb-8'>
      <slot />
    </div>
  </div>
</div>
