---
import Icon from '../AstroIcon.astro';

export interface Props {
  question: string;
  isActive?: boolean;
}

const { question, isActive = false } = Astro.props;
---

<div
  class='faq-item bg-white border rounded-md hover:bg-gray-50 border-gray-300'
>
  <button
    faq-question
    class='flex flex-row justify-between items-center p-2 sm:p-3 w-full'
  >
    <span class='text-sm sm:text-base text-left font-medium'>{question}</span>
    <Icon icon='down' class='h-6 text-gray-400 transition-transform duration-300' />
  </button>
  <div class:list={['answer', { hidden: !isActive }]} faq-answer>
    <slot />
  </div>
</div>

<script>
  document.querySelectorAll('[faq-question]').forEach((el) => {
    el.addEventListener('click', () => {
      const answer = el.nextElementSibling;
      const icon = el.querySelector('.h-6');
      const isHidden = answer.classList.contains('hidden');

      if (isHidden) {
        answer.classList.remove('hidden');
        icon.style.transform = 'rotate(180deg)';
      } else {
        answer.classList.add('hidden');
        icon.style.transform = 'rotate(0deg)';
      }
    });
  });
</script>

<style>
  .hidden {
    display: none;
  }
</style>