---
import { Flag } from 'lucide-react';
---

<div class='flex flex-col'>
  <p
    class='-ml-[37px] mb-3 flex items-center text-sm leading-none text-gray-400'
  >
    <span
      class='relative flex h-8 w-8 items-center justify-center rounded-full bg-green-600 text-white'
    >
      <Flag size='1.2em' />
    </span>
    <span class='h-[2px] w-[4.5px] bg-green-600'></span>
    <span
      class='rounded-md border border-green-600 bg-green-600 px-3 py-2 text-white'
    >
      You are ready to apply for jobs
    </span>
  </p>

  <p class='mb-2 text-sm text-gray-500'>
    At this point, you should have a solid understanding of basic front-end development concepts and be able to build simple websites. Start applying for jobs, while continuing to learn and improve your skills.
  </p>

  <p class='mb-2 text-sm text-gray-500'>
    You might have a difficult time finding a job at this stage, but don't get discouraged. Keep applying and improving your skills. You can also consider contributing to open-source projects to gain experience and build your portfolio.
  </p>
</div>
