---
import DeleteTeamPopup from './DeleteTeamPopup.astro';
---

<DeleteTeamPopup />

<h2 class='text-xl font-bold sm:text-2xl'>Delete Team</h2>
<p class='mt-2 text-gray-400'>
  Permanently delete this team and all of its resources.
</p>

<button
  data-popup='delete-team-popup'
  class='font-regular mt-4 w-full rounded-lg bg-red-600 py-2 text-base text-white outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-1'
>
  Delete Team
</button>
