---
import { RoadmapHintProgress } from './RoadmapHintProgress';
export interface Props {
  roadmapId: string;
}

const { roadmapId } = Astro.props;
---

<div class='mb-0 mt-4 rounded-md border-0 sm:-mb-[65px] sm:mt-7 sm:border'>
  <!-- Desktop: Roadmap Resources - Alert -->
  <div
    class='relative hidden h-9 items-center justify-start overflow-hidden rounded-md bg-white p-1.5 px-2 sm:flex'
  >
    <div id='roadmap-hint'>
      <span
        class='mr-0.5 rounded-sm bg-yellow-200 px-1 py-0.5 text-xs font-medium uppercase text-yellow-900'
        >New</span
      >
      Track your progress and learn by clicking roadmap items.
    </div>
    <RoadmapHintProgress roadmapId={roadmapId} client:authenticated />
  </div>

  <!-- Mobile - Roadmap resources alert -->
  <p
    class='relative block rounded-md border border-yellow-500 bg-white px-2 py-1.5 text-sm text-yellow-700 sm:hidden'
    id='roadmap-hint'
  >
    Track your progress and learn about the topics by clicking the roadmap
    items.
  </p>
</div>
