---
import { getGuideTableOfContent, type GuideFileType } from '../../lib/guide';
import MarkdownFile from '../MarkdownFile.astro';
import { TableOfContent } from '../TableOfContent/TableOfContent';

interface Props {
  guide: GuideFileType;
}

const { guide } = Astro.props;
const allHeadings = guide.getHeadings();
const showTableOfContent = allHeadings.length > 0;
const tableOfContent = showTableOfContent
  ? getGuideTableOfContent(allHeadings)
  : [];
---

<article class='lg:grid lg:max-w-full lg:grid-cols-[1fr_minmax(0,700px)_1fr]'>
  <div
    class:list={[
      'py-0 lg:col-start-3 lg:col-end-4 lg:row-start-1',
      showTableOfContent ? '' : 'hidden',
    ]}
  >
    <TableOfContent toc={tableOfContent} client:load />
  </div>
  <div
    class:list={[
      'col-start-2 col-end-3 row-start-1 mx-auto max-w-[700px] py-5 sm:py-10',
      showTableOfContent ? 'border-r max-lg:border-none' : '',
    ]}
  >
    <MarkdownFile>
      <guide.Content />
    </MarkdownFile>
  </div>
</article>
