---
import { AITutorLayout } from '../../../components/AITutor/AITutorLayout';
import { GetAIDocument } from '../../../components/GenerateDocument/GetAIDocument';
import SkeletonLayout from '../../../layouts/SkeletonLayout.astro';

export const prerender = false;

interface Params extends Record<string, string | undefined> {
  slug: string;
}

const { slug } = Astro.params as Params;
---

<SkeletonLayout
  title='AI Tutor'
  briefTitle='AI Tutor'
  description='AI Tutor'
  keywords={['ai', 'tutor', 'education', 'learning']}
  canonicalUrl={`/ai/document/${slug}`}
>
  <AITutorLayout client:load>
    <div slot='course-announcement'></div>
    <GetAIDocument client:load slug={slug} />
  </AITutorLayout>
</SkeletonLayout>
