---
import Navigation from '../components/Navigation.astro';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navigation />
		<slot />
	</body>
</html>
<style is:global>
	.container {
		@apply max-w-[830px] px-4 mx-auto;
	}

	.bg-stripes {
		background-image: linear-gradient(45deg, var(--stripes-color) 12.5%, transparent 12.5%, transparent 50%, var(--stripes-color) 50%, var(--stripes-color) 62.5%, transparent 62.5%, transparent 100%);
		background-size: 5.66px 5.66px
	}

	.sponsor-footer {
		text-align: center;
		font-weight: 600;
		font-size: 9px;
		letter-spacing: 0.5px;
		text-transform: uppercase;
		padding: 3px 10px;
		display: block;
		background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
	}
</style>
