---
import BaseLayout from './BaseLayout.astro';

const { frontmatter = {} } = Astro.props;
const { title, description, noIndex = false } = frontmatter;
---

<BaseLayout {...frontmatter}>
  <div class='container prose py-12'>
    <slot />
  </div>
</BaseLayout>
