---
import BaseLayout from './BaseLayout.astro';

const { frontmatter = {} } = Astro.props;
const { title, description } = frontmatter;
---

<BaseLayout title={title} description={description}>
  <div class='container prose py-12'>
    <slot />
  </div>
</BaseLayout>
