---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import SkeletonLayout from '../../../layouts/SkeletonLayout.astro';
import { getLinkGroupById } from '../../../lib/link-group';

const { linkId } = Astro.params;
const linkGroup = await getLinkGroupById(linkId!).catch(() => null);
if (!linkGroup) {
  return Astro.redirect('/404');
}

const fullUrl = linkGroup.frontmatter[linkId!];
---

<SkeletonLayout title='Redirecting..' noIndex={true} redirectUrl={fullUrl}>
  <div class='p-8'>
    <h2 class='text-xl font-bold'>Redirecting ..</h2>
    <p>Click the link below if you are not redirected automatically.</p>

    <p><a href={fullUrl} class='text-blue-700 underline'>{fullUrl}</a></p>
  </div>
</SkeletonLayout>
