@import '~bootstrap/dist/css/bootstrap.min.css';

.container-small {
  max-width: 800px;
}

.border-top {
  border-top: 1px solid #eaeaea;
}

.border-bottom {
  border-bottom: 1px solid #eaeaea;
}

.bg-light {
  background-color: #fafafa !important;
}

.dark-link {
  font-weight: 500;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #101010;
  }
}

.border-through {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #f5f5f5;
  line-height: 0.1em;
  margin: 10px 0 20px;

  span {
    background: #fff;
    padding: 0 10px
  }
}