---
import { CourseLanding } from '../../../components/CourseLanding/CourseLanding';
import BaseLayout from '../../../layouts/BaseLayout.astro';
import {
  getAllCourses,
  getCourseById,
  type CourseFileType,
} from '../../../lib/course';

export async function getStaticPaths() {
  const courses = await getAllCourses();

  return courses.map((course) => ({
    params: { courseId: course.id },
    props: { course },
  }));
}

interface Params extends Record<string, string | undefined> {
  courseId: string;
}

interface Props {
  course: CourseFileType;
}

const { courseId } = Astro.params;
const { course } = Astro.props;
---

<BaseLayout title={course.frontmatter.title}>
  <CourseLanding client:load />
  <div slot='page-footer'></div>
</BaseLayout>
